<div id="contributors" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">
    <div class="contributors-header">contributors are the pulse of roseay</div>
    <div class="contributors-list">
      <br><br>
      <span class="not-fetched">loading...</span>
      <br><br>
    </div>
    <br>
    <div class="instructions-to-contribute"><b>How do I contribute?</b><br>Login and press the green button. Your journey begins.</div>
    <div class="modal-footer">
      <a id="close-modal" data-dismiss="modal" aria-hidden="true">Close</a>
    </div>
  </div>
</div>
