<div id="edit-library-song" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">
    <input id="edit-lib-song-name"></input>
    <input id="edit-lib-song-artist"></input>
    <input id="edit-lib-song-link"></input>
    <div class="edit-lib-submit">update</div>
  </div>
</div>
