<div id="faq" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">
    <div class="faq-item"><b>How do you decide what song to play next?</b><br>Once you click play or >>|, an owl somewhere in the world carries a letter to Santa Clause informing him of your decision to go to the next EDM song. Mr. Clause then snapchats the Easter Bunny your username. Unfortunately the Easter Bunny is very much a sloth, therefore is of no avail. </div><br><br>
    <div class="faq-item"><b>What is roseay and what are you about?</b><br>Imagine a collection of music that gets better with every person it comes into contact with. You have contributed; either in the form of liking, posting, or simply your listening pattern. Everyone lays a brick to build</div>
    <div class="modal-footer">
      <a id="close-modal" data-dismiss="modal" aria-hidden="true">Close</a>
    </div>
  </div>
</div>