<div id="newBumpModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">
    <div>
      <h4 style="font-family: Open Sans;">Bumping</h4>
      <p><%= form_for(@song) do |f| %>
      <%= f.label :song_link %>

      <%= f.text_field :song_link %>
      <br>
      <br>
    </div>
  <div class="modal-footer">
    <a id="close-modal" data-dismiss="modal" aria-hidden="true">Close</a>
    <%= f.submit 'submit', class: 'song-modal-submit' %>
  </div>
  <% end %></p>
  </div>
</div>
