/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


@import "bootstrap-styles";
@import "bootstrap";

a {text-decoration: none; cursor: pointer;} a {color: black}

.playlist-container {
  position: fixed;
  width: 1%;
  margin-left: 3%;
  margin-top: 115px;
  float: left;
  color: white;
}

.playlist-song1 {
  border-radius: 4px;
  background: #D2B979;
  text-align: center;
  vertical-align: middle;
  height: 65px;
  margin-bottom: 45px;
  &:hover{
    background: #11091B;
    cursor: pointer;
  }
}
.playlist-song2 {
  border-radius: 4px;
  background: #97D581;
  text-align: center;
  height: 65px;
  margin-bottom: 45px;
  &:hover{
    background: #11091B;
    cursor: pointer;
  }
}
.playlist-song3 {
  border-radius: 4px;
  background: #D98C9C;
  text-align: center;
  height: 65px;
  margin-bottom: 45px;
  &:hover{
    background: #11091B;
    cursor: pointer;
  }
}
.playlist-song4 {
  border-radius: 4px;
  background: #A3C6E0;
  text-align: center;
  height: 65px;
  margin-bottom: 15px;
  &:hover{
    background: #11091B;
    cursor: pointer;
  }
}

.submit-button {
  color: green;
  position: absolute;
  margin-left: 90px;
  margin-top: 65px;
  width: 50px;
  text-align: center;
  background: #98DD9D;
  text-decoration: none;
  border-radius: 2px;

  &:hover {
    text-decoration: none;
    background: #C75769;
    color: white;
  }
}

.form {
  margin-left: 150px;
  font-family: 'quicksand';
  width: 300px;
}

.song {
  margin: 7px;
  margin-left: 7%;
  a {
    &:hover{
      text-decoration: none;
      color: #36A179;
    }
  }
  .upvote {
    &:hover {
      color: red;
    }
  }
}

.upvote {
  position: relative;
  top: 7px;
  font-weight: bold;
  font-size: 20px;
  font-family: monospace;
  line-height: 0.5px;
  color: #7DA7D4;
}

.big_header {
  margin-top: 15px;
  margin-left: 178px;
  font-family: 'quicksand';

  a{
    &:hover{
      text-decoration: none;
      color:  #C75769;
    }
  }
}

.info_bar {
  font-size: 11px;
  color: grey;
  cursor: default;
}

.top_header {
  margin-left: 16%;
  background: transparent;
  a {
    &:hover {
      text-decoration: none;
      color: green;
    }
  }
}

.about {
  &:hover{
    color: green;
    cursor: pointer;
  }
}

.about-text {
  margin-left: 10%;
  margin-top: 2%;
  a {
    &:hover{
      color: #98DDDB;
      text-decoration: none;
    }
  }
}

.small_header {
  margin-left: 183px;
  font-size: 12px;
  color: purple;
}

.user_page {
  margin-left: 125px;
}

.user_page_list {
  margin-left: 50px;
  margin-top: 5px;
  a {
    &:hover {
      text-decoration: none;
      color: red;
    }
  }
}

.user_page_top_header {
  margin-left: 150px;
  a {
    &:hover {
      text-decoration: none;
      color: green;
    }
  }
}

.user_page_list_header {
  font-size: 20px;
  font-family: 'quicksand';
}

.small_header_index {
  margin-left: 185px;
  font-size: 12px;
  background: #9FBBDF;
  width: 80px;
  border-radius: 4px;

  &:hover {
    background: white;
  }

  a {
    color: black;
    &:hover {
      text-decoration: none;
      color: white;
    }
  }
}

.relevance {
  margin-left: 4px;
  padding: 2px;
  border-radius: 4px;
  &:hover {
    color: white;
    background: #C75769;
  }
}

.time {
  margin-left: 13px;
  text-align: center;
  border-radius: 4px;
  padding: 2px;
  &:hover {
    background: #C75769;
    color: white;
  }
}

.random {
  margin-left: 10px;
  color: black;
  border-radius: 4px;
  padding: 2px;

  &:hover {
    cursor: pointer;
    background: #C75769;
    color: white;
  }
}

.left-side-wrapper {
  border-radius: 10px;
  margin: 5px;
  background: white;
  width: 40%;
  float: left;
}
.right-side-wrapper {
  background: #004366;
  width: 40%;
  float: left;
  border-radius: 10px;
  margin-top: 5px;
}

.user_info {
  margin-left: 153px;
  font-size: 12px;
}

.song-id-filter {
  color: black;
  &:hover{
    cursor: pointer;
    color: green;
  }
}

body {
  background: #004366;
}

.page-wrapper {
  margin-left: 2%;
}

.player-holder-text {
  margin-left: 32%;
  font-size: 25px;
}

.testing1 {
  position: relative;
  font-size: 31px;
  font-family: 'text me one';
  cursor: default;
  background: #004366;
}

iframe {
  position: relative;
}

.space{
  font-size: 8px;
}

.sign_in_txt {
  font-size: 26px;
  font-family: 'text me one';
  text-align: left;
  margin-top: 24%;
  cursor: default;
  vertical-align: middle;
  color: black;
}

.pagination {
  margin-left: 200px;

  a {
    &:hover{
      text-decoration: none;
    }
  }
}

.motto {
  text-align: left;
  vertical-align: middle;
  margin-top: 43%;
  color:#2E0F2D ;

}

.need-to-login {
  width: 30px;
  height: 20px;
  background: transparent;
  position: absolute;
  &:hover{
    text-decoration: none;
    color: green;
  }
}

.signin-page-background {
  background: white;
}

.need-to-login2 {
  background: transparent;
  position: absolute;
  color: #98DDDB;
  font-size: 60px;
  &:hover{
    text-decoration: none;
    color: green;
  }

}
.scplayer {
  position: fixed;
  margin-top: 25%;
}

.add-to-hubsongs {
  color: white;
  font-size: 90px;
  margin-top: 9%;
  margin-left: 570px;
  position: absolute;
}

.add-to-hubsongs:link {
  color: #98DDDB;
  &:hover{
    color:#C75769;
    text-decoration: none;
  }
}

.user_header {
  margin-top: 25px;
  margin-left: 138px;
  font-family: 'quicksand';
}

.goback {
  margin-left: -40px;
  margin-top: 80px;
  margin-bottom: -30px;
}

.player-holder {
  text-align: center;
  width: 544px;
  height: 220px;
  background: #CCCCCC;
  color: white;
  /*border-left: solid #0F2E27 1px;*/
  border-bottom: solid #0F2E27 1px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.remark-section {
  background: white;
  position: relative;
  width: 544px;
  height: 75%;
  /*border-left: solid #0F2E27 1px;*/
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.remark-header {
  margin-left: 190px;
  font-family: 'text me one';
  font-size: 20px;
}

.remarks {
  font-size: 12px;
  font-family: arial;
  margin: 0px;
  height: 70px;
  margin-left: 20px;
}

.remark-input {
  margin-left: 5px;
  resize: none;
  height: 40px;
  width: 450px;
}

.remark-input-btn {
  text-align: center;
  margin-left: 175px;
}

.next-remark-btn {
  font-family: arial;
  font-size: 16px;  
  padding: 2px;
  border-radius: 4px;
  background: #49182C;
  color: white;

  &:hover{
    background: #C75769;
    color: white;
  }
}

.remark {
  margin-left: 5px;
  margin-right: 5px; 
  word-wrap: break-word;
  height: 66px;
  background: #F5F4FB;
  border-top: solid white 1px;
  border-bottom: solid white 1px;
  a {
    &:hover{
      color: #C75769;
      text-decoration: none;
    }
  }
  &:hover {
    .remark-body {
      a {
        /*color: #A7D98C;*/
        color: #E9BECE;
      }
    }
  }
  
  .user {
    font-size: 11px;
    color: #1B2550;
  }
}

.remark-text {
  margin-left: 10px;
}

.remark-body {
  margin-left: 10px;
}

.refresh {
  margin-right: 100px;
  font-family: arial;
  font-size: 13px;
  width: 100px;
  text-align: center;
  background: #9FBBDF;
  padding: 2px;
  border-radius: 4px;
  color: black;

  &:hover{
    background: #C75769;
    color: white;
    cursor: pointer;
  }
}

#nextbtn {
  padding: 4px;
  border-radius: 4px;
  background: #49182C;
  a {
    color: white;
  }
  &:hover{
    background: #C75769;
    cursor: pointer;
  }
}

.delete-remark {
  cursor: pointer;
  font-size: 7px;
  &:hover{
    color: red;
  }
}