/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


@import "bootstrap-styles";
@import "bootstrap";

a {text-decoration: none} a {color: black}

.form {
  margin-left: 150px;
  font-family: 'quicksand';
  width: 300px;
}

.song {
  margin: 10px;
  margin-left: 7%;
  a {
    &:hover{
      text-decoration: none;
      color: red;
    }
  }
  .upvote {
    &:hover {
      color: red;
    }
  }
}

.upvote {
  position: relative;
  top: 7px;
  font-weight: bold;
  font-size: 20px;
  font-family: monospace;
  line-height: 0.5px;
  color: #7DA7D4;
}

.big_header {
  margin-top: 25px;
  margin-left: 178px;
  font-family: 'quicksand';

  a{
    &:hover{
      text-decoration: none;
      color:  #87CEFA;
    }
  }
}

.info_bar {
  font-size: 11px;
  color: grey;
  cursor: default;
}

.top_header {
  margin-left: 150px;
  a {
    &:hover {
      text-decoration: none;
      color: green;
    }
  }
}

.small_header {
  margin-left: 183px;
  font-size: 12px;
  color: purple;
}

.user_page {
  margin-left: 125px;
}

.user_page_list {
  margin-left: 50px;
  margin-top: 5px;
  a {
    &:hover {
      text-decoration: none;
      color: red;
    }
  }
}

.user_page_top_header {
  margin-left: 150px;
  a {
    &:hover {
      text-decoration: none;
      color: green;
    }
  }
}

.user_page_list_header {
  font-size: 20px;
  font-family: 'text me one';
}

.small_header_index {
  margin-left: 178px;
  font-size: 12px;
  color: purple;

  a {
    color: purple;
    &:hover {
      text-decoration: none;
      color: green;
    }
  }
}

body {
  background: white;
}

.testing1 {
  margin-left: 43%;
  position: absolute;
  top: 0px;
  font-size: 31px;
  font-family: 'text me one';
  cursor: default;
  width: 57%;
  height: 150%;
  background-image:url('/assets/blurred2.jpg');
  background-size: cover, 100%;
  background-repeat: no-repeat;
  a {
    &:hover{
      color: white;
      text-decoration: none;
    }
  }
}
iframe {
  position: fixed;
  margin-top: 12%;
}

.signin_pic {
  position: absolute;
  margin-left: 35%;
  top: 0px;
  width: 65%;
  height: 100%;
  background-image:url('/assets/roses.jpg');
  background-repeat: no-repeat; 
}

.space{
  font-size: 8px;
}

.sign_in_txt {
  font-size: 26px;
  font-family: 'text me one';
  text-align: left;
  margin-top: 24%;
  cursor: default;
  vertical-align: middle;
  color: black;
}

.pagination {
  margin-left: 200px;

  a {
    &:hover{
      text-decoration: none;
    }
  }
}

.motto {
  text-align: left;
  vertical-align: middle;
  margin-top: 34%;
  color:white ;
  a {
    color: #98DDDB;
    &:link{
      color: white;
    }
  }
}

.need-to-login {
  width: 30px;
  height: 20px;
  background: transparent;
  position: absolute;
  &:hover{
    text-decoration: none;
    color: green;
  }
}
